@font-face {
  font-family: "Robot";
  src: local("../assets/fonts/Roboto-Regular.ttf"),
    url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Robot-md";
  src: local("../assets/fonts/Roboto-Medium.ttf"),
    url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Robot-bd";
  src: local("../assets/fonts/Roboto-Bold.ttf"),
    url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
