.slider {
  margin-top: 120px;

  @media (max-width: 520px) {
    margin-top: 60px;
  }
}

.slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 60px;
    width: 700px;

    @media (max-width: 900px) {
      font-size: 36px;
      width: 100%;
    }

    @media (max-width: 520px) {
      font-size: 32px;
    }
  }
}

.slider__nav {
  display: flex;
  gap: 20px;

  button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #1c1c1c;
    background: none;
    border: 2px solid #1c1c1c;
    transition: all 0.2s ease;

    &:hover {
      border: 2px solid var(--color-blue);
      background: var(--color-blue);

      svg {
        color: var(--color-white);
      }
    }
  }

  @media (max-width: 520px) {
    display: none;
  }
}

.slider__item {
  width: 490px;
  height: 520px;
  background: var(--color-gray);
  border-radius: 15px;

  @media (max-width: 520px) {
    height: 440px;
  }

  @media (max-width: 370px) {
    height: 400px;
  }
}

.slider__content {
  padding: 20px;

  display: flex;
  flex-direction: column;

  height: 100%;

  p {
    font-size: 18px;

    @media (max-width: 520px) {
      font-size: 16px;
    }
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;

    @media (max-width: 560px) {
      width: 250px;
      height: 250px;
    }

    @media (max-width: 520px) {
      width: 200px;
      height: 200px;
    }

    @media (max-width: 370px) {
      width: 170px;
      height: 170px;
    }
  }
}

.slider__text {
  margin-top: auto;
  width: 370px;

  h4 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  @media (max-width: 760px) {
    width: 100%;
  }
}

.slider__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__main {
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid var(--color-gray);
}
